body{
    /* background: pink; */
    min-width: 320px;
    max-width: 540px;
    margin: 0 auto;
    width: 100%;
}
a{
    text-decoration: none;
}
*{
    padding:0;
    margin:0;
}
li{
    list-style: none;
}
/* 头部检索 */
header{
    width: 100%;
    background: pink;
    display: flex;
    background: url(../images/baodi2@v7.15.jpg) no-repeat
    center center;
    height: 180px;
    background-size: 100%;
}
#search{
    display: flex;
    width: 100%;
    position: fixed;
    max-width: 530px;
    min-width: 320px;
    margin: 0 auto;
    padding: 5px;
    height: 44px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.4),rgba(0,0,0,0));
    left: 50%;
    top: auto;
    transform: translateX(-50%);
}
.search-box{flex: 1;height: 28px;border: 1px solid #ccc;border-radius: 4px;background: #fff;line-height: 26px;box-sizing: border-box;position: relative;}
.search-box::before{
    background: url(../images/home-common-sprite2x@v7.15.png) 15px 7px no-repeat;
    /* display: block;
     */
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 24px;
    background-size: 21px auto;
    content: "";
}
.search-box span{
    margin-left: 40px;
    font-size: 12px;
}
#user{
    width: 51px;
    height: 44px;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

#user::before{
    content:'';
    display: block;
    background: url(../images/home-common-sprite2x@v7.15.png)
    1px -36px no-repeat;
    width: 22px;
    height: 22px;
    background-size: 21px auto;
    justify-content: center;
    margin: 0px auto 0;
}
#user span{
    margin-top: 2px;

}
/* 导航开始 */
nav{
    background: #fff;
    border-radius: 8px;
    margin: -53px 12px 10px;
    border: 1px solid #fffefe;
    box-shadow: 0 2px 4px  rgba(0,0,0,.08);
}
nav ul{display: flex;}
nav ul  li{
    list-style: none;
    flex: 1;
}
nav ul  li a{

    display: flex;

    flex-direction: column;

    color: #222;

    font-size: 12px;

    /* justify-content: center; */

    align-items: center;
}

.local-nav li .icon-local-scenic {
    background-position: 0 0;
}
.local-nav li .icon-local-around {
    background-position: 0 -40px;
}
.local-nav li .icon-local-food {
    background-position: 0 -80px;
}
.local-nav li .icon-local-oneday {
    background-position: 0 -120px;
}
.local-nav li .icon-local-strategy {
    background-position: 0 -160px;
}
.local-nav li [class^=icon-]{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-image: url(../images/home-fivemain-sprite2x@v7.15.png);
    background-repeat: no-repeat;
    background-size: 40px auto;
    display: block;
}

.local-nav li span:first-child{
    margin-bottom: 5px;
}
.local-nav li span:last-child{
    margin-bottom: 5px;
}

/* 酒店航班
 */
.jdhb div{
    display: flex;

}
.jdhb div.hotal a:first-child{
    flex: 31%;
    background: url(../images/grid-nav-items-hotel@v7.15.png) no-repeat;
    /*border-top-left-radius: 8px;*/
    background-size: 73px auto;
    background-position: right bottom;
}
.jdhb div.hotal a:nth-of-type(2){
    flex: 23%;
}
.jdhb div.hotal a:nth-of-type(3){
    flex: 46%;
}
.hotal{
    margin: 0 12px;
    background: linear-gradient(to right,#fa5956,#fb8650 54%);
}


.hotal a,.flight a ,.travel a{
    padding: 20px 0;
    border-left: 1px solid #fff;
}
.hotal a span,.flight a span,.travel a span{
    color:#fff;
    padding-left: 12px;
    font-size: 12px;

}
.hotal,.flight,.travel{
    border: 1px solid #fff;
}
/*机票*/

.jdhb div.flight a:first-child{
    flex: 31%;
    background: url(../images/grid-nav-items-flight@v7.15.png) no-repeat;
    /*border-top-radius: 8px;*/
    background-size: 73px auto;
    background-position: right bottom;
}
.jdhb div.flight a:nth-of-type(2){
    flex: 23%;
}
.jdhb div.flight a:nth-of-type(3){
    flex: 23%;
}
.jdhb div.flight a:nth-of-type(4){
    flex: 23%;
}
.flight{
    margin: 0 12px;
    background: -webkit-gradient(linear,left top,right top,from(#4b8fed),to(#53bced));
    background: linear-gradient(to right,#4b8fed,#53bced);
}
/*旅游*/
.jdhb div.travel a:first-child{
    flex: 31%;
    background: url(../images/grid-nav-items-travel@v7.15.png) no-repeat;
    /*border-top-left-radius: 8px;*/
    background-size: 73px auto;
    background-position: right bottom;
}
.jdhb div.travel a:nth-of-type(2){
    flex: 23%;
}
.jdhb div.travel a:nth-of-type(3){
    flex: 23%;
}
.jdhb div.travel a:nth-of-type(4){
    flex: 23%;
}
.travel{
    margin: 0 12px;
    background: linear-gradient(to right,#34c2aa,#6cd557);
}

/*自由行*/
#zyx ul{
    margin: 0 12px 12px;
}
#zyx ul li{
    float: left;
    width: 20%;
}
#zyx ul li a span{
    font-size: 12px;
}
#zyx ul li a span:last-child{
    margin-top: 5px;
}
#zyx ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222;
}
#zyx [class^=subnav-icon]{
    background: url("../images/un_ico_subnav2x@v7.33.png");
    width: 28px;
    height: 28px;
    background-size: 28px auto;
    background-repeat: no-repeat;
    display: block;
}
#zyx .subnav-icon-travel{
    background-position: 0 0;
}
#zyx .subnav-icon-wifi{
    background-position: 0 -28px;
}
#zyx .subnav-icon-insurance{
    background-position: 0 -56px;
}


/*版权*/
section{
    overflow: hidden;
}
footer{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    text-align: center;
    padding: 15px 0;
    margin: 18px 0;
}
footer a{
    font-size: 14px;
    color: #999;
}
footer span{
    font-size: 14px;
    color: #999;
}

